<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <!--Data Source=. - usage of local Sql server default instance-->
    <!--Initial Catalog=FriendOrganizer -  name of Database, with this name database will be created in SQL server-->
    <!--Integrated Security=True - we can set login and password to connect to db, but in this case we will use Windows account-->
    <!--providerName="System.Data.SqlClient" - we want EF to use ADO.net classes from namespace System.Data.SqlClient to connect to Sql server-->
    <add name="FriendOrganizerDb" connectionString="Data Source=.;Initial Catalog=FriendOrganizer;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>