<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--Data Source=. - usage of local Sql server default instance-->
    <!--Initial Catalog=FriendOrganizer -  name of Database, with this name database will be created in SQL server-->
    <!--Integrated Security=True - we can set login and password to connect to db, but in this case we will use Windows account-->
    <!--providerName="System.Data.SqlClient" - we want EF to use ADO.net classes from namespace System.Data.SqlClient to connect to Sql server-->
    <add name="FriendOrganizerDb" 
         connectionString="Data Source=.;Initial Catalog=FriendOrganizer;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>